<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://vstorm83:1433;databaseName=DVDStoreDB</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <mapping resource="net/homeip/dvdstore/pojo/User.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Actor.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/MovieCatgory.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Director.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Movie.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Order.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Chat.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Advertisment.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Supplier.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/ImportCard.hbm.xml"/>
    <mapping resource="net/homeip/dvdstore/pojo/Admin.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
